Flask
Flask-SQLAlchemy
Flask-Login
Flask-Bcrypt
pyotp
qrcode[pil]
requests==2.24.0
PyYAML
pytest
boto3
playwright
shodan
censys-platform
fofa-py
greynoise
Pillow
pytesseract
pdfkit
lightgbm
pandas
scikit-learn
APScheduler
freezegun
packaging
django==2.2.16
urllib3==1.26.4
Pillow==9.0.0


